.product{
	height: 653px;
	margin-top: 20px;

}
.left_banner{
	float: left;
}
.left_product{
	width: 960px;
	height: 653px;
	background-color: #F5F5F5;
	margin-right: 5px;
	float: left;
}

img#left_picture {
	margin: 10px 0 0 10px;
	width: 400px;
	height: 400px;
}

.pro_img b{
	background: url(../images/green.png) no-repeat ;
	position: absolute;
	width: 9px;
	height: 5px;
	top: -10px;
	left: 50px;


}
.small_list{
	position: relative;
	margin-left: 10px;
	margin-top: 21px;
	width: 400px;
}

.small_ctrl{
	top: 0px;
	background-color: #fff;
	width:12px;
	height: 59px;
	border:1px solid #E1E1E1;
	position: absolute;
	z-index: 1;
	cursor: pointer;
}
#prev_small{
	left: 0px;
}
#next_small{
	right: 0px;
}

#prev_small b,#next_small b{
	display: block;
	width: 4px;
	height: 7px;
	margin: 25px auto 0;

}
#prev_small b{
	background: url(../images/prev2.png) no-repeat;
}
#next_small b{
	background: url(../images/next2.png) no-repeat;
}
.pic_carousel{
	margin: 0 17px;
	height: 61px;
	overflow: hidden;
}

.small_carousel .pro_img{
	float: left;
}
.small_carousel .pro_img li{
	float: left;
	margin: 0 5px;
}
.small_carousel .pro_img img{
	border:1px solid #E1E1E1;
	width: 61px;
	height: 61px;
}
.bottom_link{
	margin: 49px 0 0 26px;
}

.bottom_link a{
	text-decoration: none;
	color: #000;
	font-family: "宋体" "MicroSoft YeHei";	
}
.center_state{
	float: left;
}
.center_state h3{
	padding: 16px 0 10px 14px ;
	font-size: 19px ;
	font-family: "MicroSoft YeHei" ;
}

.center_state p{
	padding-left: 14px;
	line-height: 20px;
	font-family: "宋体" "MicroSoft YeHei";
	font-size: 12px;
	color: #666; 
}

.price_place{
	width: 548px;
	height: 104px;
	background-color: #008C1A;
	margin-top: 17px;
}
.price{
	height: 76px;
	width: 548px;
	background: url(../images/price_bg.png) no-repeat;
}

.p-price{
	height: 52px;
}

.price #cuxiao{
	padding: 23px 18px 0 24px;
	color: #fff;
	float: left;
}

#price2 {
	font-size: 36px;
	color: #fff;
	font-weight: bold;
	font-family: Arial;
	margin-top: 18px;
	width: 150px;
	height: 29px;
	float: left;
}

#one_price{
	color: #D4F9DB;
	margin-left: 82px;

}
#activity_price{
	background: url(../images/activity_price.png) no-repeat;
	width: 57px;
	height: 20px;
	color: #626262;
	display: block;
	float: left;
	text-align: center;
	margin:11px 0 0 ;
}
.place{
	margin-left: 82px;
	
}
.place p{
	color: #fff;
	line-height: 28px;
}
img.o-place {
	cursor: pointer;
	margin-right: 3px;
}
.detail{
	margin-left: 9px;
	margin-right: 2px;
}
.myfont{
	font-family: "宋体" "MicroSoft Yahei";
	font-size: 12px;
}
.weight{
	height: 36px;
	border-bottom: 1px solid #DADADA;
}
.weight p{
	line-height:36px;

}

.detail_info{
	height: 83px;
	border-bottom: 1px solid #DADADA;
}
.detail_info div{
	float: left;
	margin-top: 24px;
}
.info1{
	margin-left: 72px;
}
.info2,.info3{
	margin-left: 100px;
}
.info1 .num1{
	color: #1790D6;
	font-size: 18px;
	font-family: "MicroSoft Yahei";
}
.info2 .num2{
	color: #D9A929;
	font-size: 18px;
	font-family: "MicroSoft Yahei";
}
.info3 .num3{
	color: #009933;
	font-size: 18px;
	font-family: "MicroSoft Yahei";
}
/*数量*/
.account{
	height: 62px;
	border-bottom: 1px solid #DADADA;
}
.account p{
	line-height: 62px;
	float: left;
}
.shopping_button{
	height: 94px;
	border-bottom: 1px solid #DADADA;
}
.shopping_button a{
	text-decoration: none;
	color: #fff;
	display: block;
	width: 164px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	float: left;
	border-radius:2px;
}
.buy_btn{
	background-color: #64B800;
	margin: 32px 0 0 94px;
}
.cart_btn{
	background-color: #FF6600;
	margin: 32px 0 0 20px;
}
.promise p{
	padding-top: 11px;
	float: left;
}
.promise .afford_way{
	float: right;
	padding-right: 32px;
}

/*右边小产品图*/
.right_product{
	width: 215px;
	height: 653px;
	float: left;
	background-color: #F5F5F5;
}
.recommend{
	height: 27px;
	margin-bottom: 20px;
	border-bottom: 1px solid #C7C7C7;
}
.recommend p{
	position: relative;
	background-color: #F5F5F5;
	font-size: 14px;
	font-family: "MicroSoft YeHei";
	color: #7D7D7D;
	top: 19px;
	left: 65px;
	width: 90px;
}

.pro{
	height: 510px;
	/*margin: 15px 0;*/
	overflow: hidden;
	position: relative;
}
.pro2 ul{
	margin: 0 37px 0 38px;

}
.pro img{
	border:0;
	
}

.pro ul li{
	padding: 15px 0;
	width: 140px;
	height: 140px;
}

.pro li a {
	text-decoration: none;
	color: #313131;
}

.pro .price_p{
	background-color: #fff;
	position: relative;
	opacity: 0.5;
	z-index:3px;
	display: block;
	float: left;
	height: 21px;
	width: 141px;
	top:-25px;
}

.pro .price_p span{
	font-family: Arial;
	font-size: 12px;
	line-height: 21px;
}
.pro2{
	height: 1600px;
	position: absolute;
	top: 0;
	left: 0;
}
.btn{
	height: 32px;
	width: 215px;
	margin: 3px 0 20px 53px;
	overflow: hidden;

}
.btn div{
	float: left;
	padding-left: 15px;
}

.btn img{
	width: 32px;
	height: 32px;
	cursor: pointer;
}
.btn a{
	margin-right: 30px;
	display: block;
	float: left;

}



/*更多商品*/
.more_pro{
	height: 40px;
	border-top: 1px dashed #BBB;
}

.more_pro a{
	display: block;
	float: right;
	padding-right: 15px;
	padding-top: 10px;
	background: url(../images/triangle.png) no-repeat scroll 59px 14px;
	font-family: "MicroSoft YeHei";
	font-size: 14px;
	color: #666;
	text-decoration: none;
}

/*搭配套餐*/
.combo{
	margin-top: 10px;
	width: 1180px;
	height: 330px;
	border:1px solid #eee;
}
.main{
	margin-top:10px;
	width:1180px;
}
.left_list{
	float:left;
	height:485px;
	width:210px;
	margin-bottom: 10px;
	border:1px solid #dfdfdf;
	background-color: #fff;
}
.list_title{
	background:#f2f2f2;
	font-size:14px;
	font-family:宋体;
	font-weight:bold;
	color:#4a4a4a;
	padding-left: 10px;
	padding-top: 13px;
	padding-bottom: 13px;
}
.pro_detail{
	float:right;
	height:1370px;
	width:960px;
	background-color: #fff;
	border:1px solid #dfdfdf;
}
.list_content{
	height:8 0px;
	border-bottom: 1px dotted #ebebeb;
	display: block;
	padding: 7px 0;
	overflow: hidden;
}

.content_icon{
	margin-left: 10px;
	display: inline-block;
	position: relative;
}
.pro_click{
	display: inline-block;
	line-height: 20px;
	position: relative;
	width: 135px;
}
.pro_click a{
	text-decoration:none;
	color:#666;
	font-size: 12px;
	width: 135px;
	height: 16px;
	overflow: hidden;
	display: inline-block;
	word-break: normal;
}
.list_price{
	color:#c00;
	font-family: Arial;
	font-size: 14px;
}
.list_saled{
	font-size: 12px;
	color: #999;
	font-family: 宋体；

}
.saled_num{
	color:#c97;
	font-family: Arial;
	font-size: 14px;
}
.list_more{
	height:25px;
	width: 115px;
	border-radius: 2px;
	background-color: #e5e5e5;
	margin-top:15px;
	margin-left:48px;
	color:#666;

}	
.list_text{
	line-height: 22px;
	height: 100%;
	font-size: 12px;
}
.list_more img{
	position: relative;
	top: 3.5px;
}
/**龚颖**排行榜*******end**********/
/*悬浮购物车*/
.cart{
	width:390px;
	border:1px solid #a3d36a;
	font-family:"新宋体";
	height: 423px;
	position: fixed;
	right: 0;
	top: 240px;
	background: #fff;
	display: none;
}


.go_acc{
	background: #ecf6e0;
	height: 60px;
}
.cart_close{
	position: relative;
	top:-2px;
	margin-left: 350px;
}
.acc{
	color:#fff;
	font-size: 16px;
	line-height: 35px;
	width:230px;
	height: 35px;
	background: url(../images/accbtn.jpg
		);
	text-align:center;
	font-weight: bold;
	margin:-3px auto 10px 80px;
}
.cart_title{
	margin-top: 1px;
	background: #f2f0f0;
	height: 30px;
	line-height: 30px;
	color: #666;
	font-size:12px;
	width: auto;
}
.tit_black{
	color: #333;
}
.tit_red{
	color:#fe1212;
	font-size:13px;
	font-weight: bold;
}
.cart_content{
	overflow-y: scroll;
	height: 330px;
	margin-top: 1px;
}
#cart_table table{
	border-spacing:0;
}
#cart_table tr{
		height: 80px;
}
#cart_table td{
	border-bottom: 1px dotted #ebebeb;

	margin-top: 5px;
}
.count{
	padding-left:10px;
	width: 90px;
}
.add, .count input{
    float: left;
    margin-right: 2px;
    position: relative;

}
.add{
	background: url(../images/plus.jpg) no-repeat;
	width:25px ;
	height: 30px;
	cursor: pointer;
}
.reduce {
   	background: url(../images/minus.jpg) no-repeat;
	width:25px ;
	height: 30px;
	cursor: pointer;
	float: left;
    margin-right: 1px;
    position: relative;

}
.count input {
    width:31px;
    height:30px;
    line-height: 30px;
    background: url(../images/input.jpg) no-repeat;
    border:0;
    text-align: center;
    font-size: 16px;
    color:#666;
    font-weight: bold;
}
.pro_icon{
	width:65px;
}
.cart_click{
	color:#333;
	font-size: 12px;
	line-height: 15px;

}
.cart_click a{
	text-decoration:none;
	width: auto;
	overflow: hidden;
	display: inline-block;
	word-break: normal;
	color: #333;
}
.cart_click em{
	font-style: normal;
}
.cart_click span{
	color: #f60;
}
.cart_delete{
	width:20px;
	cursor: pointer;
}
.cart_delete img{
	margin-bottom: 40px;
}
.empty img{
	margin-top: 90px;
	margin-left: 48px;
}
.cart_icon{
	background: url(../images/cart.png) no-repeat;
	filter:alpha(opacity=60);
	opacity:1;
	width:75px;
	height: 60px;
	position: fixed;
	right: 0;
	top: 180px;
	cursor: pointer;
}
.cart_icon span{
	font-size: 13px;
	color: #f00;
	font-family: "宋体";
	margin-left: 17px;
	width: 20px;
	display: inline-block;
	text-align: center;
}
