/************************新闻资讯修改Jquery插件tabs样式部分*****june**********/
.tabs{
	border: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { 
	border: none;
	background: none;
	color: #ffffff;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { 
	border: none;
	background: none;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 0px/*{cornerRadius}*/; -webkit-border-top-left-radius: 0px/*{cornerRadius}*/; -khtml-border-top-left-radius: 0px/*{cornerRadius}*/; border-top-left-radius: 0px/*{cornerRadius}*/; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 0px/*{cornerRadius}*/; -webkit-border-top-right-radius: 0px/*{cornerRadius}*/; -khtml-border-top-right-radius: 0px/*{cornerRadius}*/; border-top-right-radius: 0px/*{cornerRadius}*/; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 0px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 0px/*{cornerRadius}*/; -khtml-border-bottom-left-radius: 0px/*{cornerRadius}*/; border-bottom-left-radius: 0px/*{cornerRadius}*/; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 0px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 0px/*{cornerRadius}*/; -khtml-border-bottom-right-radius: 0px/*{cornerRadius}*/; border-bottom-right-radius: 0px/*{cornerRadius}*/; }
.ui-widget-content { border:none/*{borderColorContent}*/; background: #ffffff/*{bgColorContent}*/ url(images/ui-bg_flat_75_ffffff_40x100.png)/*{bgImgUrlContent}*/ 50%/*{bgContentXPos}*/ 50%/*{bgContentYPos}*/ repeat-x/*{bgContentRepeat}*/;  }
.ui-widget-content a { color: #ffffff/*{fcContent}*/; }
.ui-widget-header { border:none/*{borderColorHeader}*/; background: #cccccc/*{bgColorHeader}*/ url(images/ui-bg_highlight-soft_75_cccccc_1x100.png)/*{bgImgUrlHeader}*/ 50%/*{bgHeaderXPos}*/ 50%/*{bgHeaderYPos}*/ repeat-x/*{bgHeaderRepeat}*/; color: #ffffff/*{fcHeader}*/; font-weight: bold; }
.ui-widget-header a { color: #ffffff/*{fcHeader}*/; }
.tabs-list{
	background: repeat-x scroll center top #60b800;
	font-family: "新宋体";
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px ;
}
	 
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { 
	border: none;
	background: repeat-x scroll center top #ffffff;
}
.ui-tabs .ui-tabs-nav li a {
    float: left;
    text-decoration: none;
    font-family: "新宋体";
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}
.ui-tabs-nav li.ui-tabs-active a{
	color: #000000;
}
.tab a{
	color:#ffffff;
	padding:5px 15px;
}
.ui-tabs .ui-tabs-nav li {
    border-bottom: 0 none;
    float: left;
    list-style: none outside none;
    margin: 1px 3px 0 10px;
    padding: 0;
    position: relative;
    top: 0;
    white-space: nowrap;
}
.tab-more{
	float: right;
	padding-top:5px;
	padding-right: 5px;
}
/**************新闻资讯修改Jquery插件tabs样式部分结束**************june****************/


/******************************特惠专区、新鲜蔬菜部分修改Jquery插件tabs样式**************june******start*********/
.shelf-02-right{
	background: none;
	font-family: "微软雅黑";
    font-size: 16px;
    padding-left: 5px ; 
    width: 975px;
	float: left;
	top: 0px;
	margin-left: 200px;
	display: block;
	position: absolute; 
/*	clear: both;*/
}

.tabBox {
	position: relative;
	margin-left: 0px;
	display: block;
	height: 30px;
	line-height: 30px;
}
.shelf-02-tab .tabBox li {
	float: left;
	width: 196px;
	text-align: center;
}


.tab-0,.tab-1 {
	display: none;
	border:1px solid #bebebe;
	border-top: 1px solid #77be22; 
	width: 100%;
	top: 0px;
	position: relative;
}

.tabOption a{
	text-decoration: none;
	color: #4b4b4b;
	width: 100%;
}

.thzq,.xxsc{
	text-align: center;
}
.tabOn0,.tabOn1  {
	background: repeat-x scroll center top #e0f8c3;
}

.sbox{
	width: 194px;
	height: 357px;
	float: left;
	border-right:1px solid #bebebe;
	border-bottom:1px solid #bebebe;
}
.sbox a{
	color: #000000;
}
.sbox a:hover{
	color: red;
}
.s0-01-detail{
	font-family: "宋体";
	font-size: 12px;
	height: 50px;
	line-height: 50px;
}
.s0-01-price span{
	color: red;
	font-weight: bold;
}
.s0-01-img{
	margin: 7px;
	float: left;
	
}
.s0-01-img img{
	width: 180px;
	height: 180px;
}
.tabOn-0,.tabOn-1{
	display: block;
}
.num-option{
	float: left;
	width: 21px;
	height: 28px;
	text-align: center;
	background:#efefef url(../image/alick.gif) repeat-x;
	vertical-align: middle;
	line-height:28px;
	color:#6ab312;
	
	font-size: 30px;

	border:solid 1px #a7a6ab;
	cursor: pointer;

}
.num-option:hover{
	background:url(../image/alick.gif) 0 -28px repeat-x; color:#149d0e;
}
input.num-each{
	vertical-align: middle;
	width:35px;
	height: 25px;
	line-height: 25px;
	background:#fff;
	text-align: center;
	float: left;
	padding: 0 2px;
	font-weight: bold;
	border-radius: 4px;
	box-shadow: 2px 11px 5px #ddd inset, 1px 1px 1px #ddd;
	margin: 0 3px;
}
.s0-buy{
	display: block;
	width: 34px;
	position: relative;
}
.s0-buyNum{
	margin-left: 6px;
	width: 100px;
	height: 32px;
	display: block;
}
.buy-cart{
	float: left;
	width: 84px;
	height: 32px;
	position: absolute;
	top: 0px;
	right: -155px;
	line-height: 32px;
	background:repeat scroll top center #64b800;
	border-radius: 2px;
}

.buy-cart a{
	text-decoration: none ;
	color: #ffffff;
	font-size: 14px;
	padding: 5px 7px;
	font-weight: bold;
}
/******************************特惠专区、新鲜蔬菜部分修改Jquery插件tabs样式结束************june*********end******/

/******************************最新活动、最新资讯部分修改Jquery插件tabs样式**************june********start*******/
.newsBox {
	position: relative;
	margin-left: 0px;
	display: block;
	height: 30px;
	line-height: 30px;
}
#news .newsBox li {
	float: left;
	width: 50%;
	text-align: center;
}


.news-0,.news-1 {
	display: none;
	border:1px solid #bebebe;
	border-top: 1px solid #77be22; 
	width: 100%;
	top: 0px;
	position: relative;
}
.news-ul{
	margin: 10px auto;
	display: block;
}
.news-ul li{

	margin-left: 10px;
}
.news-ul a{
	color: #000000;
	text-decoration: none;	
	font-size: 12px;
	font-family: "宋体";
}
.news-ul a:hover{
	color: red;
}
.newsOption a{
	text-decoration: none;
	color: #4b4b4b;
	width: 100%;
}
.newsOn0,.newsOn1  {
	background: repeat-x scroll center top #e0f8c3;
}
.newsOn-0,.newsOn-1{
	display: block;
}
/******************************特惠专区、新鲜蔬菜部分修改Jquery插件tabs样式结束************june***********end****/

/******************************产品详情页“搭配、套餐”部分修改Jquery插件tabs样式**************june********start*******/
.daBox {
	position: relative;
	margin-left: 0px;
	display: block;
	height: 35px;
	line-height: 35px;	
}
.daBox li {
	float: left;
	width: 122px;
	text-align: center;
}
.da-0,.da-1 {
	display: none;
	border:1px solid #bebebe;
	border-top: 1px solid #77be22; 
	width: 100%;
	top: 0px;
	position: relative;
}
.da-ul{
	margin: 10px auto;
	display: block;
}
.da-ul li{
	margin-left: 10px;
}
.da-ul a{
	color: #000000;
	text-decoration: none;	
	font-size: 12px;
	font-family: "宋体";
}
.da-ul a:hover{
	color: red;
}
.daOption a{
	text-decoration: none;
	color: #4b4b4b;
	width: 100%;
}
.daOn0,.daOn1  {
	background:none repeat-x scroll center top #e0f8c3;
	width: 122px;
}

.daOn-0,.daOn-1{
	display: block;
	height: 100%;
	border-right: none;
	border-left: none;
}
.da-area{
	display: block;
	position: relative;
}
/*搭配套餐*/
.combo{
	margin-top: 10px;
	width: 1180px;
	display: inline-block;

	position: relative;
	border:1px solid #eee;
}
.da-0-pro{
	width: 155px;
	height: 250px;
	float: left;
	margin-top: 30px;
	margin-left: 30px;
}
.da-0-img{
	float: left;
		border:1px solid #eeeeee;
}
.da-0-img img{
	width: 143px;
	height: 143px;
	padding: 2px;
}
.da-0-title{
	float: left;
	font-size: 12px;
	font-family: "宋体";
	margin-top: 10px;
	height: 30px;
}
.da-0-price{
	float: left;
	color: red;
	margin-top: 5px;
}
.da-0-ad,.da-why{
	float: left;
	background: repeat-x scroll top center #58af2b;
	font-size: 12px;
	color: #ffffff;
}
.da-0-add{
	font-size: 40px;
	float: left;
	margin-top: 80px;
	font-weight: bolder;
	margin-left: 20px;
}
.da-all{
	display: block;
	width: 100%;
	float: left;
	height: 35px;
	line-height: 35px;
	position: relative;
	background: repeat-x scroll top center #f8f8f8;
}
.da-money{
	float: left;
	font-size: 12px;
}
.da-why{
	background: repeat-x scroll top center #9fd185;
	height: 20px;
	line-height: 20px;
	margin-top: 8px;
	margin-left: 600px;
}
.da-price{
	color: red;
	padding-right: 10px;
	font-weight: bold;
}
.da-num{
	box-shadow:  0 2px 3px #ddd inset, 0 1px 0 #fff;
	width: 30px;
	height: 25px;
	border:1px solid #a7a6ac;
	padding-left: 5px;
	margin-left: 5px;
	float: left;
	margin-top: 3px;
}
.da-buy,.da-cart{
	background: repeat-x scroll top center #64b800;
	height: 28px;
	line-height: 28px;
	width: 120px;
	float: left;
	text-align: center;
	border-radius: 2px;
	margin-left: 20px;
	margin-top: 3px;
}
.da-cart{
	background: repeat-x scroll top center #ff6600;
	margin-left: 10px;
}
.da-buy a,.da-cart a{
	color: #ffffff !important;
	text-decoration: none !important;
}
/******************************产品详情页“搭配、套餐”部分修改Jquery插件tabs样式结束************june***********end****/

/*****************************产品详情页“广告位”********june*********start***********/
.product-ad{
	width: 100%;
	height: 95px;
	background: repeat-x scroll top center #e9e9e9;
}
/*****************************产品详情页“广告位”********june*********end***********/

/******************************产品详情页“商品详情、评价、成交记录”部分修改Jquery插件tabs样式**************june********start*******/
.proBox {
	position: relative;
	margin-left: 0px;
	display: block;
	height: 35px;
	line-height: 35px;
	
}
.proBox li {
	float: left;
	width: 122px;
	text-align: center;
}


.pro-0,.pro-1,.pro-2 {
	display: none;
	border:1px solid #bebebe;
	border-top: 1px solid #77be22; 
	width: 100%;
	top: 0px;
	position: relative;
}
.pro-ul{
	margin: 10px auto;
	display: block;
}
.pro-ul li{

	margin-left: 10px;
}
.pro-ul a{
	color: #000000;
	text-decoration: none;	
	font-size: 12px;
	font-family: "宋体";
}
.pro-ul a:hover{
	color: red;
}
.proOption a{
	text-decoration: none;
	color: #4b4b4b;
	width: 100%;
}

.proOn0,.proOn1,.proOn2  {
	background:none repeat-x scroll center top #e0f8c3;
	width: 122px;
}
.proOn-0,.proOn-1,.proOn-2{
	display: block;
	height: 100%;
	border-right: none;
	border-left: none;
}
.pro-area{
	display: block;
	position: relative;
}
/*搭配套餐*/
.pro_detail{
	margin-top: 10px;
	width: 1180px;
	display: inline-block;

	position: relative;
	border:1px solid #eee;
}
.pro-0-pro{
	width: 155px;
	height: 250px;
	float: left;
	margin-top: 30px;
	margin-left: 30px;
}
.pro-0-img{
	float: left;
		border:1px solid #eeeeee;
}
.pro-0-img img{
	width: 143px;
	height: 143px;
	padding: 2px;
}
.pro-0-title{
	float: left;
	font-size: 12px;
	font-family: "宋体";
	margin-top: 10px;
	height: 30px;
}
.pro-0-price{
	float: left;
	color: red;
	margin-top: 5px;
}
.pro-0-ad,.pro-why{
	float: left;
	background: repeat-x scroll top center #58af2b;
	font-size: 12px;
	color: #ffffff;
}
.pro-0-add{
	font-size: 40px;
	float: left;
	margin-top: 80px;
	font-weight: bolder;
	margin-left: 20px;
}
.pro-all{
	display: block;
	width: 100%;
	float: left;
	height: 35px;
	line-height: 35px;
	position: relative;
	background: repeat-x scroll top center #f8f8f8;
}
.hdst{
	width: 945px;
	height: 570px;
	float: left;
	padding: 5px;
}
/******************************产品详情页“商品详情、评价、成交记录”部分修改Jquery插件tabs样式结束************june***********end****/
/*****************资讯列表页“排行榜、问答”部分修改Jquery插件tabs样式*******june********start***********/
.rankBox {
	position: relative;
	margin-left: 0px;
	display: block;
	height: 30px;
	line-height: 30px;
	background: repeat-x scroll center top #fafafa;
	color: #999999;
	border-bottom: 1px solid #e7e6e6;
	font-size: 14px;
	font-family: "宋体";
}
#rankList .rankBox li {
	float: left;
	width: 100px;
	text-align: center;
}
.rank-0,.rank-1 {
	display: none;
	border:1px solid #ffffff;
	margin-left: 20px;
	width: 90%;
	top: 0px;
	position: relative;

}
.rank-ul{
	margin: 10px auto;
	display: block;
}
.rank-ul li{
	margin-left: 10px;
	list-style: square outside none;
	 margin-bottom: 6px;
}
.rank-ul a{
	 color: #666666;
	text-decoration: none;	
	font-size: 12px;
	font-family: "宋体";
}
.rank-ul a:hover{
	color: red;
}
.rankOption a{
	text-decoration: none;
	color: #4b4b4b;
	width: 100%;
}
.rankOn0,.rankOn1  {
	border:1px solid #e7e6e6;
	background: repeat-x scroll center top #ffffff;
	border-bottom: 1px solid #ffffff;
	font-weight: bold;
}
.rankOn-0,.rankOn-1{
	display: block;
}

/*****************资讯列表页“排行榜、问答”部分修改Jquery插件tabs样式*******june********end***********/

