.search{
	position: relative;
	margin: 15px;
}
.search span{
	position: absolute;
	right: 0;
	top: 1px;
	width: 50px;
	background-color: #3eae0c;
	height: 35px;
	
}
.search span a{
	background: url(../img/icon/search.png) no-repeat;
	width: 24px;
	position: absolute;
	height: 24px;
	top: 5px;
	left: 10px;
}
.list{background-color: #eff6ea}
.list .listdiv{width: 100%}
.list .listdiv a{
	display: inline-block;
	margin-bottom: 10px;
	height: 25px;
	width: 48%;
	text-align: center;
	text-decoration: none;
	color: #6d6d6d;
}

.list .listdiv a+a{
	border-left: 1px solid #d0d0d0;
}
.login,.backtop{margin: 10px}
.login{float: left}
.backtop{float: right}
.login a,.backtop a{
	padding: 0 10px;
	text-decoration: none;
	color: #6d6d6d !important;
}
.login a:hover,.backtop a:hover{
	color: #f00 !important;
}
.foot h6{font-size: 12px !important;}
