.nav-3-9 .ui-btn .ui-btn-inner 
{
 padding-bottom: 2px !important;
}
.nav-3-9 .ui-btn .ui-icon 
{
  width: 25px!important;
  height: 25px!important;
  margin-left: -15px !important;
  box-shadow: none!important;
  -moz-box-shadow: none!important;
  -webkit-box-shadow: none!important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  top: 4px !important;
 }
 .navli{
 	border: none !important;
 }

.main .ui-icon 
{
 background:  url(../img/icon/m_1.png) 50% 50% no-repeat;
 background-size: 26px 25px;
}
.sort .ui-icon 
{
 background:  url(../img/icon/m_2.png) 50% 50% no-repeat;
 background-size: 25px 25px;
}
.shopcart .ui-icon 
{
 background:  url(../img/icon/m_3.png) 50% 50% no-repeat;
 background-size: 30px 25px;
}
.myst .ui-icon 
{
 background:  url(../img/icon/m_4.png) 50% 50% no-repeat;
 background-size: 27px 25px;
}
/*.ui-header{
	height: 48px !important;
}
.ui-btn-inner{
	height: 17px !important;
}*/
.ui-navbar{
	position: fixed;
	left: 0;
	top:0;
	right: 0;
	z-index: 1000!important;
}
